<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConsumerServlet</display-name>
    <servlet-name>ConsumerServlet</servlet-name>
    <servlet-class>com.zxj.websevlet.ConsumerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsumerServlet</servlet-name>
    <url-pattern>/ConsumerServlet</url-pattern>
    <url-pattern>/back/personalinformation/ConsumerServlet</url-pattern>
     <url-pattern>/back/consumer/ConsumerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleServlet</display-name>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>com.zxj.websevlet.ArticleServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>
    <url-pattern>/back/article/ArticleServlet</url-pattern>
    <url-pattern>/head/head_article/ArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoteServlet</display-name>
    <servlet-name>VoteServlet</servlet-name>
    <servlet-class>com.zxj.websevlet.VoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteServlet</servlet-name>
    <url-pattern>/VoteServlet</url-pattern>
    <url-pattern>/back/vote/VoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoSerlvet</display-name>
    <servlet-name>PhotoSerlvet</servlet-name>
    <servlet-class>com.zxj.websevlet.PhotoSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoSerlvet</servlet-name>
    <url-pattern>/PhotoSerlvet</url-pattern>
    <url-pattern>/back/photo/PhotoSerlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiscussServlet</display-name>
    <servlet-name>DiscussServlet</servlet-name>
    <servlet-class>com.zxj.websevlet.DiscussServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscussServlet</servlet-name>
    <url-pattern>/DiscussServlet</url-pattern>
     <url-pattern>/back/discuss/DiscussServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendServlet</display-name>
    <servlet-name>FriendServlet</servlet-name>
    <servlet-class>com.zxj.websevlet.FriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendServlet</servlet-name>
    <url-pattern>/FriendServlet</url-pattern>
    <url-pattern>/back/friend/FriendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoSerlvet</display-name>
    <servlet-name>VideoSerlvet</servlet-name>
    <servlet-class>com.zxj.websevlet.VideoSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoSerlvet</servlet-name>
    <url-pattern>/VideoSerlvet</url-pattern>
        <url-pattern>/back/photo/VideoSerlvet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>SongSerlvet</display-name>
    <servlet-name>SongSerlvet</servlet-name>
    <servlet-class>com.zxj.websevlet.SongSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongSerlvet</servlet-name>
    <url-pattern>/head/head_music/SongSerlvet</url-pattern>
    <url-pattern>/back/song/SongSerlvet</url-pattern>
  </servlet-mapping>
</web-app>